<div class="content_block">
    <aside  class="left_block">
        <form (ngSubmit)="onSubmit(getData.headerItems.month)">
            <div class="editor_header">
                <img src="{{getData.headerItems.logo}}" alt="Mixtape Newsletter" />
                <input type="text" class="input" [(ngModel)]="getData.headerItems.month" name="Month" placeholder="Date" />
                <!-- <input type="text" class="input" [(ngModel)]="saveNewContent" name="savenew" placeholder="Date" /> -->
                <input type="submit" class="button" value="Save" />
            </div>
        </form>
            <div class="editor_category">
                <div class="editor_category_title">
                    <a href="#topPicks">Top Picks</a>
                    <div class="switch"></div>
                </div>
                <ul class="editor_category_list">
                    <li>
                        <label>Quote of the month:</label>
                        <input type="text" [(ngModel)]="getData.topPicks.quote" class="input" placeholder="Quote of the month" />
                    </li>
                    <li>
                        <label>Illustration image:</label>
                        <input type="url" [(ngModel)]="getData.topPicks.illustration" class="input" placeholder="Illustration image" />
                    </li>
                    <li>
                        <label>Artwork by:</label>
                        <input type="text" [(ngModel)]="getData.topPicks.artworkby" class="input" placeholder="Artwork by" />
                    </li>
                    <li>
                        <label>Artist link:</label>
                        <input type="url" [(ngModel)]="getData.topPicks.artistlink" class="input" placeholder="Artist link" />
                    </li>
                </ul>
            </div>
            <div class="editor_category">
                <div class="editor_category_title">
                    <a href="#introductionContent">Introduction Content</a>
                    <div class="switch"></div>
                </div>
                <ul class="editor_category_list">
                    <li>
                        <label>Title:</label>
                        <input type="text" [(ngModel)]="getData.introduction.title" class="input" placeholder="Title" />
                    </li>
                    <li>
                        <label>Description:</label>
                        <textarea type="text" [(ngModel)]="getData.introduction.description" class="input" placeholder="Description"></textarea>
                    </li>
                </ul>
            </div>
            <div class="editor_category">
                <div class="editor_category_title">
                    <a href="#sideA">Side A</a>
                    <div class="switch"></div>
                </div>
                <div class="editor_category_tab">
                    <ul>
                        <li (click)="changeTab($event, 1, 'sideAtab')" [ngClass]="{'active' : selectedTab.sideAtab == 1}">Article 1</li>
                        <li (click)="changeTab($event, 2, 'sideAtab')" [ngClass]="{'active' : selectedTab.sideAtab == 2}">Article 2</li>
                        <li (click)="changeTab($event, 3, 'sideAtab')" [ngClass]="{'active' : selectedTab.sideAtab == 3}">Article 3</li>
                    </ul>
                    <div class="editor_category_tab_content">
                        <div class="tab_pane" [hidden]="selectedTab.sideAtab != 1">
                            <ul class="editor_category_list">
                                <li>
                                    <label>Tag:</label>
                                    <input type="text" [(ngModel)]="getData.sideA[0].tag" class="input" placeholder="Tag" />
                                </li>
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.sideA[0].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Short description:</label>
                                    <textarea [(ngModel)]="getData.sideA[0].description" class="input" placeholder="Short Description"></textarea>
                                </li>
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.sideA[0].imageURL" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Read through link:</label>
                                    <input type="url" [(ngModel)]="getData.sideA[0].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                        <div class="tab_pane" [hidden]="selectedTab.sideAtab != 2">
                            <ul class="editor_category_list">
                                <li>
                                    <label>Tag:</label>
                                    <input type="text" [(ngModel)]="getData.sideA[1].tag" class="input" placeholder="Tag" />
                                </li>
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.sideA[1].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Short description:</label>
                                    <textarea [(ngModel)]="getData.sideA[1].description" class="input" placeholder="Short Description"></textarea>
                                </li>
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.sideA[1].imageURL" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Read through link:</label>
                                    <input type="url" [(ngModel)]="getData.sideA[1].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                        <div class="tab_pane" [hidden]="selectedTab.sideAtab != 3">
                            <ul  class="editor_category_list">
                                <li>
                                    <label>Tag:</label>
                                    <input type="text" [(ngModel)]="getData.sideA[2].tag" class="input" placeholder="Tag" />
                                </li>
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.sideA[2].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Short description:</label>
                                    <textarea [(ngModel)]="getData.sideA[2].description" class="input" placeholder="Short Description"></textarea>
                                </li>
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.sideA[2].imageURL" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Read through link:</label>
                                    <input type="url" [(ngModel)]="getData.sideA[2].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor_category">
                <div class="editor_category_title">
                    <a href="#nowRolling">Now Rolling</a>
                    <div class="switch"></div>
                </div>
                <div class="editor_category_tab">
                    <ul>
                        <li (click)="changeTab($event, 1, 'nowRollingTab')" [ngClass]="{'active' : selectedTab.nowRollingTab == 1}">Article 1</li>
                        <li (click)="changeTab($event, 2, 'nowRollingTab')" [ngClass]="{'active' : selectedTab.nowRollingTab == 2}">Article 2</li>
                        <li (click)="changeTab($event, 3, 'nowRollingTab')" [ngClass]="{'active' : selectedTab.nowRollingTab == 3}">Article 3</li>
                    </ul>
                    <div class="editor_category_tab_content">
                        <div class="tab_pane" [hidden]="selectedTab.nowRollingTab != 1">
                            <ul class="editor_category_list">
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.nowRolling[0].image" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.nowRolling[0].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Link:</label>
                                    <input type="text" [(ngModel)]="getData.nowRolling[0].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                        <div class="tab_pane" [hidden]="selectedTab.nowRollingTab != 2">
                            <ul class="editor_category_list">
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.nowRolling[1].image" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.nowRolling[1].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Link:</label>
                                    <input type="text" [(ngModel)]="getData.nowRolling[1].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                        <div class="tab_pane" [hidden]="selectedTab.nowRollingTab != 3">
                            <ul class="editor_category_list">
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.nowRolling[2].image" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.nowRolling[2].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Link:</label>
                                    <input type="text" [(ngModel)]="getData.nowRolling[2].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor_category">
                <div class="editor_category_title">
                    <a href="#cassetteLibrary">Cassette Library</a>
                    <div class="switch"></div>
                </div>
                <div class="editor_category_tab">
                    <ul>
                        <li (click)="changeTab($event, 1, 'cassetteTab')" [class.active]="selectedTab.cassetteTab == 1">Article 1</li>
                        <li (click)="changeTab($event, 2, 'cassetteTab')" [class.active]="selectedTab.cassetteTab == 2">Article 2</li>
                        <li (click)="changeTab($event, 3, 'cassetteTab')" [class.active]="selectedTab.cassetteTab == 3">Article 3</li>    
                    </ul>
                    <div class="editor_category_tab_content">
                        <div class="tab_pane" [hidden]="selectedTab.cassetteTab != 1">
                            <ul class="editor_category_list">
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.cassetteLibrary[0].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Short description:</label>
                                    <textarea [(ngModel)]="getData.cassetteLibrary[0].description" class="input" placeholder="Short Description"></textarea>
                                </li>
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.cassetteLibrary[0].image" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Read through link:</label>
                                    <input type="url" [(ngModel)]="getData.cassetteLibrary[0].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                        <div class="tab_pane" [hidden]="selectedTab.cassetteTab != 2">
                            <ul class="editor_category_list">
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.cassetteLibrary[1].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Short description:</label>
                                    <textarea [(ngModel)]="getData.cassetteLibrary[1].description" class="input" placeholder="Short Description"></textarea>
                                </li>
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.cassetteLibrary[1].image" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Read through link:</label>
                                    <input type="url" [(ngModel)]="getData.cassetteLibrary[1].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                        <div class="tab_pane" [hidden]="selectedTab.cassetteTab != 3">
                            <ul  class="editor_category_list">
                                <li>
                                    <label>Title:</label>
                                    <input type="text" [(ngModel)]="getData.cassetteLibrary[2].title" class="input" placeholder="Title" />
                                </li>
                                <li>
                                    <label>Short description:</label>
                                    <textarea [(ngModel)]="getData.cassetteLibrary[2].description" class="input" placeholder="Short Description"></textarea>
                                </li>
                                <li>
                                    <label>Image:</label>
                                    <input type="url" [(ngModel)]="getData.cassetteLibrary[2].image" class="input" placeholder="Image URL" />
                                </li>
                                <li>
                                    <label>Read through link:</label>
                                    <input type="url" [(ngModel)]="getData.cassetteLibrary[2].link" class="input" placeholder="Link" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
       
    </aside>
    <!-- WITH ROUTING 
    <main class="output_block">
        <div class="templates_list">
            <a routerLink="template1" routerLinkActive="active">Template 1</a>
            <a routerLink="template2" routerLinkActive="active">Template 2</a>
        </div>
        <div class="templates_output_block">
            <div class="templates_output_container">
                <div class="templates_output_view">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main> -->
    <main class="output_block">
        <div class="templates_list">
            <a (click)="changeTab($event, 1, 'templateTab')" [ngClass]="{'active' : selectedTab.templateTab == 1}">Template 1</a>
            <!-- <a (click)="changeTab($event, 2, 'templateTab')" [ngClass]="{'active' : selectedTab.templateTab == 2}">Template 2</a> -->
        </div>
        <div class="templates_output_block">
            
            <div class="templates_output_container">
                <div class="templates_output_view">
                    
                    <app-template1 *ngIf="selectedTab.templateTab == 1"
                    [headerItems]="headerItems"
                    [introduction]="introduction"
                    [topPicks]="topPicks"
                    [sideA]="sideA"
                    [nowRolling]="nowRolling"
                    [cassetteLibrary]="cassetteLibrary"
                    [getData]="getData"
                    ></app-template1>
                    <!-- <app-template2 *ngIf="selectedTab.templateTab == 2"
                    [headerItems]="headerItems"
                    [introduction]="introduction"
                    [topPicks]="topPicks"
                    [sideA]="sideA"
                    [nowRolling]="nowRolling"
                    [cassetteLibrary]="cassetteLibrary"
                    ></app-template2> -->
                </div>
            </div>
        </div>
    </main>
</div>


